.About-Page {
    margin-top: 6rem;

    & .Slick-wrapper {
        margin-bottom: 100px;
    }
}

.Path-wrapper {
    background: #33415c;
    padding: 75px 0;
    text-align: center;
    color: #fff;
    position: relative;

    & .Path-container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;

        & .Path-row {
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;

            & .Path-col {
                position: relative;
                width: 100%;
                padding-right: 15px;
                padding-left: 15px;

                & .Path-section {

                    & h2 {
                        font-size: 48px;
                        line-height: 56px;
                        font-weight: 700;
                        font-weight: 500;
                        line-height: 1.2;
                    }

                    & ul {
                        display: flex;
                        justify-content: center;
                        margin-top: 10px;
                        list-style: none;

                        & li {
                            padding: 0 20px;
                            position: relative;

                            &::after {
                                margin: 0 9px;
                                position: absolute;
                                content: "";
                                background: #ffab4a;
                                top: 50%;
                                width: 22px;
                                height: 2px;
                            }

                            & a {
                                text-decoration: none;
                                color: #fff;
                            }
                        }

                        & li:nth-child(2)::after,
                        li:nth-child(3)::after {
                            width: 0;
                        }
                    }
                }
            }
        }
    }

    & .Path-decor-one {
        position: absolute;
        left: -42px;
        bottom: -12px;
    }

    & .Path-decor-two {
        position: absolute;
        right: 10%;
        top: 12%;
    }

    & .Path-decor-three {
        position: absolute;
        right: 0;
        top: 32%;
    }
}

@media screen and (min-width: 320px) {
    .Path-container {
        max-width: 310px;
    }

    .Path-section h2 {
        font-size: 26px;
        line-height: 30px;
        font-weight: 700;
    }
}

@media screen and (min-width: 576px) {
    .Path-container {
        max-width: 540px;
    }
}

@media screen and (min-width: 768px) {
    .Path-container {
        max-width: 720px;
    }
    
    .Path-section h2 {
        font-size: 35px;
        line-height: 45px;
        font-weight: 700;
    }
}

@media screen and (min-width: 992px) {
    .Path-container {
        max-width: 960px;
    }
    
    .Path-section h2 {
        font-size: 48px;
        line-height: 56px;
        font-weight: 700;
    }
}

@media screen and (min-width: 1200px) {
    .Path-container {
        max-width: 1200px;
    }
}