.Class-Page{
    margin-top: 6rem;

}

/* Detail Page css */
.Class-Details{
    margin-top: 6rem;
    & .Path-section {
        & ul{
            & li:nth-child(2)::after{
                width: 26% !important;
            }
        }
    }
}