.Contact-Page {
    margin-top: 6rem;
}

& .Contact-wrapper {
    padding: 100px 0;
    background-color: #fafafb;

    & .Contact-container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;

        & .Contact-row {
            display: flex;
            flex-wrap: wrap;
            margin-left: -15px;
            margin-right: -15px;

            & .Contact-col {
                margin-left: auto;
                margin-right: auto;
                position: relative;
                width: 100%;
                padding-right: 15px;
                padding-left: 15px;

                & .Contact-inner-row {
                    display: flex;
                    flex-wrap: wrap;
                    margin-right: -15px;
                    margin-left: -15px;

                    & .Contact-inner-col {
                        width: 100%;
                        padding-right: 15px;
                        padding-left: 15px;

                        & .Contact-left,
                        .Contact-right {
                            background: #fff;
                            box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
                            & .Contact-content {
                                margin-bottom: 1rem;

                                & h5 {
                                    padding-bottom: 5px;
                                    color: #564fff;
                                    font-weight: 700;
                                    font-size: 1.25rem;
                                    line-height: 1.2;
                                }

                                & h2 {
                                    padding: 0 0 12px;
                                    font-weight: 700;
                                }
                            }

                            & .Form-group,
                            .Form-group-textarea {
                                margin-bottom: 1rem;

                                & input {
                                    display: block;
                                    width: 100%;
                                    padding: 0.375rem 0.75rem;
                                    font-size: 1rem;
                                    font-weight: 400;
                                    line-height: 1.5;
                                    color: #495057;
                                    background-color: #fff;
                                    background-clip: padding-box;
                                    border: 1px solid #ced4da;
                                    border-radius: 0.25rem;
                                }
                            }

                            & .Form-group-textarea {
                                height: 150px;

                                & textarea {
                                    display: block;
                                    width: 100%;
                                    resize: none;
                                    height: 100%;
                                    padding: 0.375rem 0.75rem;
                                    font-size: 1rem;
                                    overflow: auto;
                                    line-height: 1.5;
                                    font-family: inherit;
                                    color: #495057;
                                    border: 1px solid #ced4da;
                                    border-radius: 0.25rem;
                                }
                            }

                            & button {
                                display: inline-flex;
                                justify-content: center;
                                align-items: center;
                                height: 50px;
                                color: #383838;
                                font-weight: 700;
                                border: 2px solid #33415c;
                                background: none;
                                cursor: pointer;
                                border-radius: 0;
                                position: relative;
                                z-index: 2;
                                transition: all .2s linear;

                                &::after {
                                    position: absolute;
                                    content: '';
                                    inset: 0;
                                    background-color: #33415c;
                                    z-index: -1;
                                    scale: 0;
                                    transition: all .2s linear;
                                }

                                &:hover {
                                    color: #fff;
                                }

                                &:hover::after {
                                    scale: 1;
                                }
                            }
                        }

                        & .Contact-address .Address .Address-content {
                            & p {
                                line-height: 22px;

                                & a{
                                    text-decoration: none;
                                    color: rgb(56, 56, 56);
                                }
                            }

                            & p:first-child {
                                color: #564fff;
                            }

                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 320px) {
    .Contact-inner-col {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .Contact-left,
    .Contact-right {
        height: auto;
        padding: 30px;
    }

    .Contact-left {
        margin-bottom: 30px;
    }

    form button {
        width: 65%;
    }


    .Address {
        display: inherit;
        margin-top: 10px;
    }

    .Address-content {
        margin-left: 0px;
    }
}

@media screen and (min-width: 576px) {
    .Contact-container{
        max-width: 540px;
    }
    .Address {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }

    .Address-content {
        margin-left: 1rem;
    }
}

@media screen and (min-width: 768px) {

    .Contact-container {
        max-width: 94%;
    }
    .Contact-content {
        margin-left: 0px;

        & h2 {
            font-size: 35px;
            line-height: 45px;
        }
    }
}

@media screen and (min-width: 992px) {
    .Contact-inner-col {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .Contact-content {
        margin-left: 0px;

        & h2 {
            font-size: 48px;
            line-height: 56px;
        }
    }

    form button {
        width: 50%;
    }

    .Contact-left,
    .Contact-right {
        padding: 50px;
        height: 570px;
    }

}