.Home-Page {
    margin-top: 6rem;
}

.Slider-wrapper {
    background-color: rgb(51, 65, 92);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-bottom: 5rem;
}

.Slider-container {
    margin: 2rem 2rem 3rem 2rem;
    /* border: 1px solid black; */
    width: 100vw;
    display: grid;
    place-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}
.Slider-Holder{
    position: relative;
    
    &::before{
        position: absolute;
        content: url('/assets/svg/CrossDecoration.svg');
        height: 320px;
        padding-top: 6rem;
        width: 50px;
        left: -55px;
        top: -15px;
        z-index: 2;
        background-color: rgb(51, 65, 92);
    }
    &::after{
        position: absolute;
        content: url('/assets/svg/TriangleUpsideDown.svg');
        height: 40px;
        width: 40px;
        top: 10rem;
        left: 35rem;
        z-index: 2;
    }
}
.Slider {
    & h1 {
        font-size: 48px;
        line-height: 70px;
        color: white;
        font-weight: 500;
        padding: 10px 0 2px;
        text-wrap: wrap;

        & span {
            font-size: 70px;
        }
    }

    & p {
        padding: 20px 0 38px;
        color: white;
        text-wrap: wrap;
        text-align: left;
        line-height: 30px;

    }

}

& .Video-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #ffab4a;
    cursor: pointer;
    width: 65px;
    height: 65px;
    font-size: 25px;
    color: #ffab4a;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
    &:hover{
        border: 1px dashed #fff;
    }
    &:hover svg{
        color: #fff !important;
    }

}
.Apply-btn,
.Learn-btn{
    position: relative;
    text-decoration: none;
    color: #fff;
    background: transparent;
    width: 148px;
    height: 50px;
    padding-right: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    
    display: inline-flex;
    z-index: 1;
    border: 1px solid #fff;

    & .Action-align{
        position: absolute;
        left: 6.9rem;
        transition: all 150ms ease-in-out;
    }

    &::after{
        position: absolute;
        content: '';
        inset: 0;
        background-color: #564fff;
        border-radius: 3px;
        z-index: -1;
        width: 0%;
        /* transform-origin: left; */
        transition: all 200ms ease-in-out;
    }
    &:hover::after{
        width: 100%;
    }
    &:hover{
        border: 1px solid #564fff;
    }
    &:hover .Action-align{
        left: 7.2rem;
    }
}
.Learn-btn{
    margin-left: 30px
}
.Directional-btn{
    position: absolute;
    margin: 0 -10px;
    background: #242d3e;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover{
        background-color: #ff564f;
    }
}
.right-btn{
    top: 435px;
    left: 140px;
}
.left-btn{
    top: 435px;
    left: 75px;
}

.Slider-image .kids-img {
    /* height: 100%; */
    width: 95%;
    object-fit: cover;
}
/* .Slider-image{
    position: relative;
    & .Triangle{
        position: absolute;
        left: -3rem;
        top: 16rem;
    }
    & .Cross-Decor{
        position: absolute;
        left: -41.5rem;
        top: 9.3rem;
    }
} */
