.Home-Page {
    margin-top: 6rem;
}

/* Section - 1 */
.Slider-wrapper {
    background-color: rgb(51, 65, 92);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    /* margin-bottom: 5rem; */
}

.Slider-container {
    margin: 2rem 2rem 3rem 2rem;
    width: 100vw;
    display: grid;
    place-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

.Slider-Holder {
    position: relative;

    &::before {
        position: absolute;
        content: url('/assets/svg/CrossDecoration.svg');
        height: 320px;
        padding-top: 6rem;
        width: 50px;
        left: -55px;
        top: -15px;
        z-index: 2;
        background-color: rgb(51, 65, 92);
    }

}

.Slider-Holder {
    &::after {
        position: absolute;
        content: url('/assets/svg/TriangleUpsideDown.svg');
        height: 40px;
        width: 40px;
        top: 10rem;
        right: 0.5rem;
        z-index: 1;
    }
}
.Slider {
    & h1 {
        font-size: 48px;
        line-height: 70px;
        color: white;
        font-weight: 500;
        padding: 10px 0 2px;
        text-wrap: wrap;

        & span {
            font-size: 70px;
        }
    }

    & p {
        padding: 20px 0 38px;
        color: white;
        text-wrap: wrap;
        text-align: left;
        line-height: 30px;

    }

}

& .Video-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #ffab4a;
    cursor: pointer;
    width: 65px;
    height: 65px;
    font-size: 25px;
    color: #ffab4a;
    border-radius: 50%;
    transition: all 100ms ease-in-out;

    &:hover {
        border: 1px dashed #fff;
    }

    &:hover svg {
        color: #fff !important;
    }

}
.Action-btn{
    display: inline-flex;
    flex-wrap: wrap;
}

.Apply-btn,
.Learn-btn {
    position: relative;
    text-decoration: none;
    color: #fff;
    background: transparent;
    width: 148px;
    height: 50px;
    padding-right: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

    display: inline-flex;
    z-index: 1;
    border: 1px solid #fff;

    & .Action-align {
        position: absolute;
        left: 6.9rem;
        transition: all 150ms ease-in-out;
    }

    &::after {
        position: absolute;
        content: '';
        inset: 0;
        background-color: #564fff;
        border-radius: 3px;
        z-index: -1;
        width: 0%;
        /* transform-origin: left; */
        transition: all 200ms ease-in-out;
    }

    &:hover::after {
        width: 100%;
    }

    &:hover {
        border: 1px solid #564fff;
    }

    &:hover .Action-align {
        left: 7.2rem;
    }
}

.Learn-btn {
    margin-left: 30px;
}

.Directional-btn {
    position: absolute;
    margin: 0 -10px;
    background: #242d3e;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: #ff564f;
    }
}
.right-btn,
.left-btn{
    top: 445px;
}
.right-btn {
    left: 140px;
}
.left-btn {
    left: 75px;
}

.Slider-image .kids-img {
    width: 95%;
    object-fit: cover;
}

/* Section - 2 */

.Slick-wrapper {
    margin-top: 100px;
    position: relative;
    /* margin-bottom: 100px; */

    &::after {
        position: absolute;
        content: url('/assets/svg/HollowCircle.svg');
        height: 100px;
        width: 100px;
        right: 35px;
        top: 40%;
        z-index: -1;
    }
}

.Slick-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.Slick-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-right: -15px;
    margin-left: -15px;
}

.Learn-left {
    padding-right: 15px;
    padding-left: 15px;
}

.Underlay {
    background: #33415c;
    padding: 10px 10px 0;
    border-radius: 30px;
    position: relative;
    color: white;

    /* height: 17rem; */
    & .Slick-images {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &::before {
            position: absolute;
            content: url('/assets/svg/PolkaDot.svg');
            width: 100px;
            height: 100px;
            left: -34px;
            top: -25px;
            z-index: 1;
        }

        & img {
            margin-top: 0.8rem;
            width: 95%;
            height: 90%;
            object-fit: fill;
            border-radius: 10px;
            z-index: 2;
        }
    }

    & .Slide-list {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        & li {
            margin: 0.6rem 0.3rem;
            padding: 0.3rem;
            width: 10px;
            background-color: white;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}

.Active-Slide {
    width: 17px !important;
}

.Learn-right {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;

    & .Design {
        position: absolute;
        bottom: 3%;
        right: 8%;
    }
}

.Section-title-container {
    padding: 0 78px 0 0;

    & .Sub-title {
        padding-bottom: 5px;
        color: #564fff;
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 1.2;
    }

    & .Section-title {
        position: relative;
        padding: 0 0 12px;
        font-size: 48px;
        line-height: 56px;
        font-weight: 700;

        &::after {
            position: absolute;
            content: url('/assets/svg/LinedCircle.svg');
            right: 22.5%;
            top: -5%;
            height: 100px;
            width: 100px;
            z-index: -1;
        }
    }
}

.List-content {
    width: 62%;
    padding: 15px 0;
    column-count: 2;
    list-style: none;

    & svg {
        margin-right: 6px;
    }
}

.Section-summary {
    padding-right: 55px;
}

.Section-footer {
    padding-top: 28px;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;

    & a {
        color: #ff564f;
        padding-left: 10px;
        position: relative;
        text-decoration: none;

        &::after {
            position: absolute;
            content: "";
            width: 0%;
            height: 3px;
            left: 7%;
            bottom: -7px;
            border-radius: 2px;
            background: #ff564f;
            transition: all 150ms ease-in-out;
        }

        &:hover::after {
            width: 94%;
        }
    }
}

@media screen and (min-width : 320px) {
    .Slider-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        margin-top: 20px !important;
    }

    .Slider-Holder .kids-img {
        width: 80% !important;
        height: 80% !important;
        margin-top: 20px;
        margin-left: 10px;
    }

    .Learn-right,
    .Learn-left {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .Section-title-container {
        margin-top: 40px;
    }

    .List-content {
        column-count: 1;
    }

    .Slider {
        & h1 {
            font-size: 24px;
            line-height: 48px;
            padding: 0 !important;

            & span {
                font-size: 48px;
            }
        }

        & p {
            padding: 15px 0 24px !important;
            line-height: 25px;
        }

    }
    .Learn-btn,
    .Apply-btn{
        width: 80px;
        flex: 0 0 100%;
    }
    .Learn-btn{
        margin-left: 0 !important;
        margin-top: 20px;
    }
    .right-btn,
    .left-btn{
        top: 475px;
    }
    .Slider-image{
        margin-top: auto;
    }
    .Slider-Holder::after{
        top: 11rem;
    }
    .Slider-Holder::before{
        height: 500px;
    }
}

@media screen and (min-width : 768px) {
    .Slider-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        
    }
    
    .Section-title-container {
        margin-top: 20px;
    }
    
    .List-content {
        column-count: 2;
    }
    
    .Learn-left,
    .Learn-right {
        flex: 0 0 80%;
        max-width: 80%;
    }
    .Slider {
        & h1 {
            font-size: 48px !important;
            line-height: 70px !important;
            padding: 10px 0 2px;
            
            & span {
                font-size: 70px !important;
            }
        }
        
        & p {
            padding: 20px 0 38px !important;
            color: white;
            line-height: 30px;
        }
    }
    .Action-btn{
        display: block;
    }
    .Learn-btn,
    .Apply-btn{
        width: 148px;
        flex: 0 0 50%;
    }
    .Learn-btn{
        margin-left: 30px !important;
    }
    .Slider-container{
        margin-top: 0 !important;
    }
    .right-btn,
    .left-btn{
        top: 445px;
    }
    .Slick-wrapper::after{
        top: 72% !important;
        right: 16% !important;
    }
    .Slider-image{
        margin-top: 20px !important;
    }
}


@media screen and (min-width : 992px) {
    .Slider-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;

    }

    .Section-title-container {
        margin-top: 0px !important;
    }

    .Learn-right,
    .Learn-left {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .List-content {
        column-count: 2;
    }

    .Slider-Holder::after {
            top: 10rem;
        }
    }
    .Slick-wrapper::after{
        top: 40% !important;
        right: 35px !important;
    }
