@import url('https://fonts.googleapis.com/css?family=Pacifico');

.Main-Header {
    width: 100vw;
}

.Container {
    & .Wrapper {
        position: fixed;
        height: 95px;
        width: 100vw;
        z-index: 5;
        top: 0;
        background-color: #fff;
        box-shadow: 0 6px 40px 0 rgba(0, 0, 0, .2);
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .Logo h1 {
            color: #564fff;
            font-family: 'Pacifico', cursive;
            font-weight: 500;
            font-size: 28px;
            margin-left: 1rem;
        }

        & .Paths {

            & ul {
                display: flex;
            }

            & li {
                position: relative;
                list-style: none;
                cursor: pointer;
                margin-inline: 1rem;

                &::after {
                    position: absolute;
                    content: '';
                    height: 2.5px;
                    background-color: #564fff;
                    width: 100%;
                    scale: 0 1;
                    left: 0;
                    padding-bottom: 1px;
                    bottom: -9.5px;
                    transform-origin: left;
                    transition: all 400ms ease-in-out;
                }
                & .dropdown li::after{
                    display: none;
                }
                &:hover::after {
                    scale: 1 1;
                }

                & a {
                    position: relative;
                    text-decoration: none;
                    font-size: 16px;
                    color: rgb(56, 56, 56);
                    font-weight: 700;
                    font-family: 'Roboto', sans-serif;

                    &:hover {
                        color: #564fff;
                    }
                }
            }
        }

        & .Contact-Info {
            position: relative;
            border-radius: 4px;
            box-shadow: 0 6px 12px 0 rgba(17, 13, 149, .3);
            background-color: #564fff;
            color: #fff;
            margin-right: 1.9rem;
            margin-left: 1.7rem;
            padding: 7.5px 15px;
            font-family: 'Roboto', sans-serif;
            cursor: pointer;
            transition: all 400ms ease-in-out;

            &:hover {
                translate: 0 -6px;
            }

            & .Whatsapp-number {
                padding-left: 0.5rem;
            }
        }
    }
}

.Page {
    position: relative;
    cursor: pointer;

    & .dropdown{
        position: absolute;
        background: #fff;
        display: flex;
        flex-direction: column;
        width: 190px;
        transform: translateX(-20px);
        left: 0;
        top: 45px;
        padding: 15px 5px;
        text-align: left;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        z-index: 1;
        visibility: hidden;
        transition: all 300ms linear;

        
    }
    &:hover .dropdown{
        transform: translateX(-10px);
        visibility: visible;
    }
    &:hover .path{
        color: #564fff !important;
    }

}

.caret {
    position: absolute;
    top: 0.5rem;
}

.caret-dynamic {
    rotate: 180deg;
    color: #564fff !important;
}

.active {
    color: #564fff !important;

    &::before {
        position: absolute;
        content: '';
        height: 2.5px;
        background-color: #564fff;
        width: 100%;
        left: 0;
        top: 31px;
    }
}
.Active-d{
    color: #564fff !important;

    &::before{
        display: none;
    }
}

.Mobile-nav{
    position: relative;
    display: block;
}
.Mobile-menu {
    cursor: pointer;
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
    padding-right: 10px;

    &::before {
        position: absolute;
        content: "";
        background: #ffab4a;
        width: 26px;
        height: 3.5px;
        border-radius: 10px;
        left: -8px;
        top: 0px;
    }

    &::after {
        position: absolute;
        content: "";
        height: 3px;
        width: 23px;
        left: -5px;
        top: 7px;
    }

    &::after,
    span {
        background: #ffab4a;
        border-radius: 10px;
    }
    & span{
        height: 4.5px;
        top: -8px;
        right: -8px;
        position: absolute;
        width: 30px;
    }
}

.Mob-options{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    padding: 41px;

    & li{
        list-style: none;
        cursor: pointer;
        padding: 7px 1px;

        &::after{
            display: none;
        }

        & a {
            position: relative;
            text-decoration: none;
            font-size: 16px;
            color: rgb(56, 56, 56);
            font-weight: 700;
            font-family: 'Roboto', sans-serif;

            &::before{
                display: none !important;
            }
            &:hover {
                color: #564fff;
            }
        }
    }
}

.mobile-dropdown li{
    padding-left: 20px !important;
    line-height: 1.3;
}
.exit-btn{
    z-index: 31;
    display: block;
    position: fixed;
    top: 4%;
    right: 4%;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid #ffab4a;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 5px;
    border-radius: 50%;
    color: #ffab4a;
}
@media screen and (max-width: 319px) {
    .Paths{
        display: none !important;
    }
    .Contact-Info{
        display: none;

    }
}
@media screen and (min-width: 320px) {
    .Paths {
        display: none !important;
        & ul li a{
            font-size: 12px !important;
        }
    }
    
    .Contact-Info {
        display: none !important;
    }
    
    .Logo h1 {
        font-size: 22px !important;
    }
}

@media screen and (min-width: 940px) {

    .Paths {
        margin-left: 3rem;
        display: block !important;
        & ul li a{
            font-size: 13px !important;
        }
    }

    .Contact-Info {
        display: inline !important;
        margin-left: 8rem !important;
    }

    .Logo h1 {
        font-size: 24px !important;
    }

    .Mobile-nav {
        display: none !important;
    }
    .exit-btn{
        display: none !important;
    }
    .Contact-Info{
        margin-right: 1.2rem !important;
        margin-left: 1rem !important;
        padding: 5px 10px !important;
    }

}

@media screen and (min-width: 1200px) {

    .Paths {
        margin-left: 3rem !important;
        display: block !important;
        & ul li a{
            font-size: 16px !important;
        }
    }

    .Contact-Info {
        display: inline !important;
        margin-left: 8rem !important;
    }

    .Logo h1 {
        font-size: 28px !important;
    }

    .Contact-Info{
        margin-right: 1.9rem !important;
        margin-left: 1.7rem !important;
        padding: 7.5px 15px !important;
    }
}