@import url('https://fonts.googleapis.com/css?family=Pacifico');
.Main-Header{
    width: 100vw;
}
.Container {
    & .Wrapper {
        position: fixed;
        height: 95px;
        width: 100vw;
        z-index: 5;
        top: 0;
        background-color: #fff;
        box-shadow: 0 6px 40px 0 rgba(0, 0, 0, .2);
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .Logo h1 {
            color: #564fff;
            font-family: 'Pacifico', cursive;
            font-weight: 500;
            font-size: 28px;
            margin-left: 1rem;
        }

        & .Paths {

            & ul {
                display: flex;
            }

            & li {
                position: relative;
                list-style: none;
                cursor: pointer;
                margin-inline: 1rem;

                &::after {
                    position: absolute;
                    content: '';
                    height: 2.5px;
                    background-color: #564fff;
                    width: 100%;
                    scale: 0 1;
                    left: 0;
                    padding-bottom: 1px;
                    bottom: -15px;
                    transform-origin: left;
                    transition: all 400ms ease-in-out;
                }

                &:hover::after {
                    scale: 1 1;
                }

                & a {
                    position: relative;
                    text-decoration: none;
                    font-size: 16px;
                    color: rgb(56, 56, 56);
                    font-weight: 700;
                    font-family: 'Roboto', sans-serif;
                    
                    &:hover{
                        color: #564fff;
                    }
                }
            }
        }

        & .Contact-Info {
            position: relative;
            border-radius: 4px;
            box-shadow: 0 6px 12px 0 rgba(17, 13, 149, .3);
            background-color: #564fff;
            color: #fff;
            margin-right: 1.9rem;
            margin-left: 1.7rem;
            padding: 12px 15px;
            font-family: 'Roboto', sans-serif;
            cursor: pointer;
            transition: all 400ms ease-in-out;

            &:hover {
                translate: 0 -6px;
            }

            & .Whatsapp-number {
                padding-left: 0.5rem;
            }
        }
    }
}
.Page {
    position: relative;
    cursor: pointer;

    & button{
        border: none;
        font-size: 16px;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
        color: rgb(56, 56, 56);
        background-color: transparent;
        cursor: pointer;

        margin-right: 0.3rem;
        &:hover{
            color: #564fff;
        }
        &:hover + .caret{
            color: #564fff !important;
        }

    }
    
}
.caret{
    position: absolute;
    top: 0.1rem;
}

.caret-dynamic{
    rotate: 180deg;
    color: #564fff !important;
}

.active{
    color: #564fff !important;
    
    &::before {
        position: absolute;
        content: '';
        height: 2.5px;
        background-color: #564fff;
        width: 100%;
        left: 0;
        top: 31px;
    }
}
.Active-btn{
    color: #564fff !important;
    
    &::before {
        position: absolute;
        content: '';
        height: 2.5px;
        background-color: #564fff;
        width: 100%;
        left: 0;
        bottom: -15px;
    }

}
