@import url('https://fonts.googleapis.com/css?family=Pacifico');

.Main-Header {
    width: 100vw;
}

.Container {
    & .Wrapper {
        position: fixed;
        height: 95px;
        width: 100vw;
        z-index: 5;
        top: 0;
        background-color: #fff;
        box-shadow: 0 6px 40px 0 rgba(0, 0, 0, .2);
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .Logo h1 {
            color: #564fff;
            font-family: 'Pacifico', cursive;
            font-weight: 500;
            font-size: 28px;
            margin-left: 1rem;
        }

        & .Paths {

            & ul {
                display: flex;
            }

            & li {
                position: relative;
                list-style: none;
                cursor: pointer;
                margin-inline: 1rem;

                &::after {
                    position: absolute;
                    content: '';
                    height: 2.5px;
                    background-color: #564fff;
                    width: 100%;
                    scale: 0 1;
                    left: 0;
                    padding-bottom: 1px;
                    bottom: -9.5px;
                    transform-origin: left;
                    transition: all 400ms ease-in-out;
                }

                &:hover::after {
                    scale: 1 1;
                }

                & a {
                    position: relative;
                    text-decoration: none;
                    font-size: 16px;
                    color: rgb(56, 56, 56);
                    font-weight: 700;
                    font-family: 'Roboto', sans-serif;

                    &:hover {
                        color: #564fff;
                    }
                }
            }
        }

        & .Contact-Info {
            position: relative;
            border-radius: 4px;
            box-shadow: 0 6px 12px 0 rgba(17, 13, 149, .3);
            background-color: #564fff;
            color: #fff;
            margin-right: 1.9rem;
            margin-left: 1.7rem;
            padding: 7.5px 15px;
            font-family: 'Roboto', sans-serif;
            cursor: pointer;
            transition: all 400ms ease-in-out;

            &:hover {
                translate: 0 -6px;
            }

            & .Whatsapp-number {
                padding-left: 0.5rem;
            }
        }
    }
}

.Page {
    position: relative;
    cursor: pointer;

    & button {
        border: none;
        font-size: 16px;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
        color: rgb(56, 56, 56);
        background-color: transparent;
        cursor: pointer;

        margin-right: 0.3rem;

        &:hover {
            color: #564fff;
        }

        &:hover+.caret {
            color: #564fff !important;
        }

    }

}

.caret {
    position: absolute;
    top: 0.5rem;
}

.caret-dynamic {
    rotate: 180deg;
    color: #564fff !important;
}

.active {
    color: #564fff !important;

    &::before {
        position: absolute;
        content: '';
        height: 2.5px;
        background-color: #564fff;
        width: 100%;
        left: 0;
        top: 31px;
    }
}

.Active-btn {
    color: #564fff !important;

    &::before {
        position: absolute;
        content: '';
        height: 2.5px;
        background-color: #564fff;
        width: 100%;
        left: 0;
        bottom: -9.5px;
    }

}

.Mobile-menu {
    cursor: pointer;
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
    padding-right: 10px;

    &::before {
        position: absolute;
        content: "";
        background: #ffab4a;
        width: 26px;
        height: 3.5px;
        border-radius: 10px;
        left: -8px;
        top: 0px;
    }

    &::after {
        position: absolute;
        content: "";
        height: 3px;
        width: 23px;
        left: -5px;
        top: 7px;
    }

    &::after,
    span {
        background: #ffab4a;
        border-radius: 10px;
    }
    & span{
        height: 4.5px;
        top: -8px;
        right: -8px;
        position: absolute;
        width: 30px;
    }
}
@media screen and (max-width: 320px) {
    .Paths {
        display: none;
    }
    
    .Mobile-menu {
        display: block;
    }
    .Contact-Info {
        display: none;
    }
}
@media screen and (min-width: 320px) {
    .Paths {
        display: none;
    }

    .Contact-Info {
        display: none;
    }

    .Logo h1 {
        font-size: 22px !important;
    }

    .Mobile-menu {
        display: block;
    }
}

@media screen and (min-width: 992px) {
    .Paths {
        margin-left: 5rem;
        display: block;
    }

    .Contact-Info {
        display: inline;
        margin-left: 8rem !important;
    }

    .Logo h1 {
        font-size: 28px !important;
    }

    .Mobile-menu {
        display: none;
    }
}