.Class-section {
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
}

.Class-decor {
    position: absolute;
    right: -20%;
    top: 20%;

    & img {
        vertical-align: middle;
        height: 1037px;
        width: 564px;
    }
}

.Class-card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.Header {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;

    & .Header-wrapper {
        position: relative;
        width: 70%;
        padding-right: 15px;
        padding-left: 15px;
        margin-left: auto;
        margin-right: auto;

        & .Header-container {
            text-align: center !important;

            & .Header-subtitle {
                padding-bottom: 5px;
                color: #564fff;
                font-weight: 700;
                font-size: 1.25rem;
                line-height: 1.2;
            }

            & .Header-title {
                padding: 0 0 12px;
                font-size: 48px;
                line-height: 56px;
                font-weight: 700;

            }

            & .Header-content {
                margin-bottom: 60px;
            }
        }
    }
}

.Class-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.Classes-Card {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

    & .Card {
        position: relative;
        transition: all 300ms linear;

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
                rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
                rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        }

        & .Card-image .card-img {
            width: 100%;
            height: 295px;
            object-fit: cover;
            max-width: 100%;
            vertical-align: middle;

        }

        & .Card-info {
            background: #fff;
            box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .08);
            padding: 25px 20px 30px;
            margin-bottom: 40px;
            position: relative;

            & .price {
                background: #564fff;
                display: flex;
                position: absolute;
                width: 50px;
                height: 50px;
                color: #fff;
                font-weight: 700;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                right: 9%;
                top: -11%;
            }

            & .Class-title {
                font-weight: 700;
                font-size: 1.5rem;
                line-height: 1.2;

                & a {
                    color: #383838;
                    text-decoration: none;
                }
            }

            & .Class-info {
                padding: 15px 0 !important;

                & .Class-structure {
                    column-count: 2;
                    list-style: none;

                    & li svg {
                        margin-right: 7px;
                    }
                }

                & .Class-location {
                    column-count: 1;
                    list-style: none;

                    & li svg {
                        margin-right: 7px;
                    }
                }
            }

            & .Enroll-btn a {
                color: #ff564f;
                text-decoration: none;
                position: relative;
                font-weight: 600;

                &::after {
                    position: absolute;
                    content: "";
                    width: 0;
                    height: 2px;
                    background: #ff564f;
                    left: 0;
                    bottom: -2px;
                    transition: all .3s linear;
                }

                & svg {
                    margin-left: 30px;
                    transition: all 300ms linear;
                }

                &:hover::after {
                    width: 100%;
                }

                &:hover svg {
                    margin-left: 15px;
                }
            }
        }
    }
}

.Btn-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;

    & .Btn-col {
        flex: 0 0 100%;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        max-width: 100%;

        & .Name {
            text-align: center;

            & a {
                position: relative;
                text-decoration: none;
                color: #383838;
                font-weight: 700;
                border: 2px solid #33415c;
                width: 26%;
                display: inline-flex;
                text-align: center;
                justify-content: center;
                height: 50px;
                align-items: center;
                margin-top: 20px;

                &::after {
                    position: absolute;
                    content: '';
                    background-color: #33415c;
                    inset: 0;
                    z-index: -1;
                    scale: 0;
                    transition: all 300ms linear;
                }

                &:hover::after {
                    scale: 1;
                }

                &:hover {
                    color: #fff;

                }

                & svg {
                    margin-left: 22px;
                }
            }
        }
    }
}

@media screen and (min-width: 320px) {
    .Btn-row{
        flex: 0 0 100% !important;
        max-width: 100% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .Name a {
        width: 100% !important;
        margin-top: auto !important;
        margin-bottom: auto !important;
    }

    .Class-card-container {
        max-width: 340px;
        
    }

    .Classes-Card {
        flex: 100%;
    }

    .Header {
        flex: 0 0 100% !important;
        max-width: 100% !important;

        & .Header-wrapper{
            width: 100% !important;
        }
        & .Header-title {
            font-size: 26px !important;
            line-height: 30px !important;
        }
    }

    .Class-decor {
        right: 20%;
    }

}

@media screen and (min-width: 576px) {
    .Class-card-container {
        max-width: 540px;
    }

    .Classes-Card {
        flex: 50%;
    }
    .Header{
        max-width: 542px !important;
    }

    .Name a {
        width: 50% !important;
    }
}

@media screen and (min-width: 768px) {
    .Class-card-container {
        max-width: 720px;
    }

    .Name a {
        width: 50% !important;
    }

    .Class-decor {
        right: -20%;
    }
    .Header{
        max-width: 720px !important;
    }

    .Header .Header-title {
        font-size: 35px !important;
        line-height: 45px !important;
    }
    .Header .Header-wrapper{
        width: 80% !important;
    }

}

@media screen and (min-width: 992px) {
    .Class-card-container {
        max-width: 960px;
    }

    .Classes-Card {
        flex: 33%;
    }

    .Name a {
        width: 34% !important;
    }
    .Header{
        max-width: 960px !important;
    }
    .Header .Header-title {
        font-size: 48px !important;
        line-height: 56px !important;
    }

}

@media screen and (min-width: 1200px) {
    .Class-card-container {
        max-width: 92%;
    }

    .Name a {
        width: 26% !important;
    }
    .Header{
        max-width: 1140px !important;
    }
}