*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a:focus,
button:focus{
  outline: none;
}
.App{
    overflow-x: hidden !important;
    
    
}
::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  border: none;
  box-shadow: inset 0 0 2px grey;
}

::-webkit-scrollbar-thumb {
  background: rgb(182, 182, 182);
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(159, 159, 159);
}

.Scroll-lock{
    overflow: hidden;
}
.scroll-to-top-button {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 10px;
    height: 45px;
    width: 45px;
    z-index: 99;
    border: none;
    background-color: #ffab4a;
    color: white;
    border-radius: 50%;
    font-size: 16px;
    
  }
  
  .scroll-to-top-button.visible {
    display: block;
  }
  
  .scroll-to-top-button:hover {
    cursor: pointer;
  }
  